{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "printWidth": 120,
    "bracketSpacing": true,
    "tabWidth": 4,
    "bracketSameLine": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "useTabs": false
}